02_proxy_db_write_DEV
{
    "name": "Proxy_Write_to_DB_Pipeline_DEV",
    "properties": {
        "activities": [
            {
                "name": "Until_Shared_Writer_Is_Free_DEV",
                "type": "Until",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(int(variables('activeRuns')), 0)",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Simulate_Ask_ADF_Who_Is_Writing",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 2
                            }
                        },
                        {
                            "name": "Simulate_Filter_To_Find_Busy_Writers",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Simulate_Ask_ADF_Who_Is_Writing",
                                    "dependencyConditions": ["Succeeded"]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "simulatedBusyCount",
                                "value": {
                                    "value": "0",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Update_Active_Runs_Count",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Simulate_Filter_To_Find_Busy_Writers",
                                    "dependencyConditions": ["Succeeded"]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "activeRuns",
                                "value": {
                                    "value": "@variables('simulatedBusyCount')",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "If_Writer_Still_Busy_DEV",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Update_Active_Runs_Count",
                                    "dependencyConditions": ["Succeeded"]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greater(int(variables('activeRuns')), 0)",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Wait_For_A_Minute_DEV",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 5
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "timeout": "7.00:00:00"
            },
            {
                "name": "Send_To_Shared_Writing_Station",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Until_Shared_Writer_Is_Free_DEV",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Common_Write_to_DB_Pipeline_DEV",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "alertsJsonInput": {
                            "value": "@pipeline().parameters.patternAlertsJson",
                            "type": "Expression"
                        },
                        "surveillanceRunIDInput": {
                            "value": "@pipeline().parameters.patternSurveillanceRunId",
                            "type": "Expression"
                        },
                        "datasetRunIDInput": {
                            "value": "@pipeline().parameters.patternDatasetRunId",
                            "type": "Expression"
                        },
                        "alertTypeInput": {
                            "value": "@pipeline().parameters.patternAlertType",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "SubscriptionId": {
                "type": "String"
            },
            "ResourceGroupName": {
                "type": "String"
            },
            "DataFactoryName": {
                "type": "String"
            },
            "patternAlertsJson": {
                "type": "String"
            },
            "patternSurveillanceRunId": {
                "type": "String"
            },
            "patternDatasetRunId": {
                "type": "String"
            },
            "patternAlertType": {
                "type": "String"
            }
        },
        "variables": {
            "activeRuns": {
                "type": "String",
                "defaultValue": "1"
            },
            "simulatedBusyCount": {
                "type": "String",
                "defaultValue": "0"
            }
        },
        "folder": {
            "name": "DEV_Testing"
        },
        "annotations": []
    }
}
