05_Customer_Cross_CM_DEV
{
    "name": "Customer_Cross_CM_PL_DEV",
    "properties": {
        "activities": [
            {
                "name": "variableCOB_CC",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetRunID_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varCOB_CC",
                    "value": {
                        "value": "DEV-CC-BATCH-123",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "runid_CC",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetRunID_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varrunid_CC",
                    "value": {
                        "value": "DEV-CC-RUNID-456",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "variableLoadName_CC",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetRunID_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varLoadName_CC",
                    "value": {
                        "value": "DEV CM Customer Trades",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "GetRunID_CC_DEV",
                "type": "Wait",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 1
                }
            },
            {
                "name": "If_Condition1_CC_DEV",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Set_CCrunidcount_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(int(variables('varCCrunidcount')), 0)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Fail1_CC_DEV",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": "DEV MODE: Customer Cross data not available",
                                "errorCode": "DEV_CC_DATA_NOT_AVAILABLE"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "SP_GetSruvRunId_CC_DEV",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "ThresholdSetText_CC_DEV",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "varSurvRunId_CC",
                                "value": {
                                    "value": "DEV-CC-SURVRUNID-789",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "CustomerCrossCMNotebook_DEV",
                            "type": "DatabricksNotebook",
                            "dependsOn": [
                                {
                                    "activity": "Unit_test_CC_DEV",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Shared/Customer_Cross_CM_DEV",
                                "baseParameters": {
                                    "adf_input_survid": {
                                        "value": "@string(variables('varSurvRunId_CC'))",
                                        "type": "Expression"
                                    },
                                    "adf_input_batchid": {
                                        "value": "@string(variables('varCOB_CC'))",
                                        "type": "Expression"
                                    },
                                    "adf_input_ds_runid": {
                                        "value": "@string(variables('varDatasetRunId_CC'))",
                                        "type": "Expression"
                                    }
                                },
                                "linkedServiceName": {
                                    "referenceName": "ls_ccams_databricks",
                                    "type": "LinkedServiceReference",
                                    "parameters": {
                                        "subscription_id": {
                                            "value": "@pipeline().globalParameters.SubscriptionID",
                                            "type": "Expression"
                                        },
                                        "databricks_url": {
                                            "value": "@pipeline().globalParameters.ccamsDatabricksWS",
                                            "type": "Expression"
                                        },
                                        "workspace_resource_id": {
                                            "value": "@pipeline().globalParameters.ccamsDatabricksWSResourceID",
                                            "type": "Expression"
                                        },
                                        "cluster_id": {
                                            "value": "@pipeline().globalParameters.ClusterID",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "name": "Call_Traffic_Cop_For_CC_Write",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "CustomerCrossCMNotebook_DEV",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Proxy_Write_to_DB_Pipeline_DEV",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "SubscriptionId": {
                                        "value": "DEV-SUBSCRIPTION",
                                        "type": "Expression"
                                    },
                                    "ResourceGroupName": {
                                        "value": "DEV-RESOURCE-GROUP",
                                        "type": "Expression"
                                    },
                                    "DataFactoryName": {
                                        "value": "DEV-DATA-FACTORY",
                                        "type": "Expression"
                                    },
                                    "patternAlertsJson": {
                                        "value": "@activity('CustomerCrossCMNotebook_DEV').output.runOutput",
                                        "type": "Expression"
                                    },
                                    "patternSurveillanceRunId": {
                                        "value": "@variables('varSurvRunId_CC')",
                                        "type": "Expression"
                                    },
                                    "patternDatasetRunId": {
                                        "value": "@variables('varDatasetRunId_CC')",
                                        "type": "Expression"
                                    },
                                    "patternAlertType": {
                                        "value": "@variables('varAlertType_CC')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "SurvRunComplete_CC_DEV",
                            "type": "Wait",
                            "dependsOn": [
                                {
                                    "activity": "Call_Traffic_Cop_For_CC_Write",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        }
                    ]
                }
            },
            {
                "name": "Thresholdlookup_CC_DEV",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "capturedatasetrunid_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varThresholdData_CC",
                    "value": {
                        "value": "DEV-CC-THRESHOLD-DATA",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ThresholdSetText_CC_DEV",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Thresholdlookup_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varThreshold_CC",
                    "value": {
                        "value": "min_exec_val=1000000;timestamp_window_seconds=5;price_deviation_decimal=0.05",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Unit_test_CC_DEV",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "SP_GetSruvRunId_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 1
                }
            },
            {
                "name": "recordcount_CC_DEV",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varRecordCount_CC",
                    "value": {
                        "value": "3000",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SP_GetNewDataSetRunId_CC_DEV",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "recordcount_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varDatasetRunId_CC",
                    "value": {
                        "value": "DEV-CC-DATASET-RUNID-999",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "capturedatasetrunid_CC_DEV",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SP_GetNewDataSetRunId_CC_DEV",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varDatasetRunId_CC",
                    "value": {
                        "value": "@variables('varDatasetRunId_CC')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set_CCrunidcount_DEV",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "variableCOB_CC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "runid_CC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "variableLoadName_CC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "varCCrunidcount",
                    "value": {
                        "value": "2",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "testSurvId_CC": {
                "type": "String",
                "defaultValue": "DEV-CC-TEST-SURVID"
            },
            "testBatchId_CC": {
                "type": "String",
                "defaultValue": "DEV-CC-TEST-BATCHID"
            },
            "testDsRunId_CC": {
                "type": "String",
                "defaultValue": "DEV-CC-TEST-DSRUNID"
            }
        },
        "variables": {
            "varCOB_CC": {
                "type": "String"
            },
            "varrunid_CC": {
                "type": "String"
            },
            "varLoadName_CC": {
                "type": "String"
            },
            "varSurvRunId_CC": {
                "type": "String"
            },
            "varThreshold_CC": {
                "type": "String"
            },
            "varRecordCount_CC": {
                "type": "String"
            },
            "varDatasetRunId_CC": {
                "type": "String"
            },
            "varAlertType_CC": {
                "type": "String",
                "defaultValue": "Customer Cross CM"
            },
            "varThresholdData_CC": {
                "type": "String"
            },
            "varCCrunidcount": {
                "type": "String"
            }
        },
        "folder": {
            "name": "DEV_Testing"
        },
        "annotations": []
    }
}
